[Unit]
Description=Flix Web Panel
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=4
User=root
WorkingDirectory=/www/flix
ExecStart=/usr/bin/env /usr/bin/bun run ./src/index.ts

[Install]
WantedBy=multi-user.target